.popular {
    margin: 0 auto;
    width: 800px;
    height: 112px;
    padding: 18px;
    margin-top: -28px;
    margin-bottom: 48px;
    background: $color-white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
    h2 {
        margin-bottom: 14px;
        margin-left: 24px;
        font-size: 18px;
    }
    .popular-list {
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
        input {
            width: 130px;
            height: 42px;
            margin-right: 24px;
            font-size: 20px;
            color: $color-white;
            border: none;
            border-radius: 5px;
            &:hover{
                opacity: 0.9;
            }
        }
    }
}